/* setup  font and background color of all element */
body {
  font-family: "Poppins";
  margin: 0;
  background-color: #e5e5e5;
}
/* centering all elements */
.container {
  display: flex;
  flex-direction: column;
  height: 718px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(images/header-shapes_mobile.jpg);
}
