/* setup  font and background color of all element */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #e5e5e5;
}

/* main styling grid */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  background-color: #f7f7f9;
}

/* headline elements */
.headline {
  display: flex;
  flex-direction: column;
  background-image: url("images/background_final_one.png");
  background-repeat: no-repeat;
  height: 718px;
  padding-top: 58px;
  background-size: 100% auto;
  padding-left: 24px;
  padding-right: 24px;
}

/* header toolbar */
.toolbar,
.toolbar > nav > button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 5px;
  color: #6070ff;
}

/* content section */
.content {
  display: flex;
  flex-direction: column;
}

/* size and color for title */
.title {
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
}

/* size and color for detail content */
.detail {
  font-size: 16px;
  color: #344563;
  font-weight: 400;
}

/* size and color for connect text */
.connect {
  font-size: 16px;
  color: #7f8cff;
  font-weight: 400;
}

/* my logo style */

.toolbar > a {
  color: #6070ff;
  font-size: 18px;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bold;
}

/* social media button group style */

ul.buttongroup > li > a {
  color: #505f79;
  margin-left: 4px;
  margin-right: 4px;
  list-style: none;
}

/* button tag style */
ul.tags > li > button {
  padding: 4px, 12px;
  color: #6070ff;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  height: 24px;
  padding-left: 12px;
  padding-right: 12px;
}

/* My logo hover and active  */

.toolbar > a:hover {
  color: #040b48;
}

.toolbar > a:active {
  color: #ef1065;
}

/* implement hover and active for button_group */
ul.buttongroup > li > a:hover {
  color: #6070ff;
}

ul.buttongroup > li > a:active {
  color: #ef1065;
}

/* implement hover and active for  menu bar */
.toolbar > nav > button:hover {
  color: #0d1b97;
}

.toolbar > nav > button:active {
  color: #ef1065;
}

/* list item style */
.buttongroup {
  display: inline-flex;
  list-style-type: none;
  justify-content: start;
  padding: 0;
  margin: 0;
}

/* unorder list style */
.buttongroup > li {
  margin-top: 0;
  margin-left: 0;
  margin-right: 10px;
}

/* adjust button border and background */
.btn {
  background-color: transparent;
  border: none;
}

/* Style image properies */
img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Style card Properties */

.workscard {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 114px;
  margin-left: 24px;
  width: 327px;
  height: 552px;
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e6;
}

/* project title properties */

.projecttitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin: 12px 16px 0;
}

.client {
  display: inline-flex;
  list-style-type: none;
  justify-content: start;
  margin-left: 0;
  margin-top: 10px;
  padding-left: 16px;
  margin-bottom: 0;
}

/* clinet list item properties */
ul.client > li {
  list-style: none;
  display: flex;
  margin-left: 0;
  font-size: 13px;
  margin-right: 12px;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Style type  */

.type {
  font-weight: 600;
  line-height: 16px;
}

/* style tech and year class */
.tech,
.year {
  color: #7a869a;
  line-height: 16px;
  font-weight: 600;
}

/* style project detail */

.projectdetail {
  font-style: regular;
  text-align: left;
  padding-top: 0;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 0;
  margin: 20px 16px 0;
}

/* button tags style */
.tags {
  display: inline-flex;
  list-style-type: none;
  justify-content: start;
  margin-left: 0;
  margin-top: 12px;
  padding-left: 16px;
  margin-bottom: 0;
}

ul.tags > li {
  list-style: none;
  display: flex;
  margin-left: 0;
  margin-right: 8px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.projectbutton {
  margin-top: 20px;
  margin-left: 16px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  width: 124px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
}

/* Style about me */
.aboutme {
  display: flex;
  flex-direction: column;
}
